ion-button{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 550;
}

p{
    margin: 0;
    font-size: 0.7em;
}

.tnc{
    font-size: 0.6em;
    -webkit-line-clamp: 3;
    white-space: unset;
}