<ion-header>
  <ion-toolbar>
    <ion-title>Our Artists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="artists">
  <ion-list class="p-t-16">
    <ion-item *ngFor="let artist of artists">
      <ion-thumbnail>
        <ion-img src="http://oxygen.idgafgroup.com/storage/app/public/{{ artist.image }}"></ion-img>
      </ion-thumbnail>
      <ion-grid>
        <ion-row (click)="requestBooking(1)">
          <ion-col size="12">
              {{ artist.name }}<br>  
            <!-- <p class="font-subtitle no-vertical-margin truncate">
                {{ artist.name }}</p> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  
</ion-content>
